<div class="container">
  <div class="row" style="margin-top:10px;">
    <div class="col-md-6 text-left">
      <%= link_to 'Back to Contacts', contacts_path %>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to 'Edit', edit_contact_path(@contact) %>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center">
    <img src="http://lorempixel.com/160/160/people/" class="img-circle img-responsive img-thumbnail">
      <h1 style="font-style:italic;">
      <%= @contact.first_name %> <%= @contact.last_name %>
    <a href="https://twitter.com/search?q=<%= @contact.first_name %>%20<%= @contact.last_name %>&src=typd&mode=users"><img src="http://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/200px-Twitter_bird_logo_2012.svg.png" alt="" style="width:25px;height:25px"></a><a href="https://www.linkedin.com/vsearch/p?firstName=<%= @contact.first_name %>&lastName=<%= @contact.last_name %>&orig=SEO_SN&trk=SEO_SN&domainCountryName=&csrfToken=ajax%3A2771908671720635977"><img src="http://mlaw.umd.edu/wp-content/uploads/2014/09/linkedin-vector-080311.png" alt="" style="width:25px;height:25px"></a><a href="https://www.facebook.com/search/results/?init=quick&q=<%= @contact.first_name %>%20<%= @contact.last_name %>"><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10492975_10152642816026654_2746713892945057258_o.png?dl=1" alt="" style="width:25px;height:25px"></a><script type="text/javascript">
var name="davidzm";

if (name==""){}
  else
{
document.write("<a href=\"skype:davidzm.hult?call\"><img src=\"..\/123.png\" alt=\"\" style=\"width:25px;height:25px\"><\/a>");
}
  </script></h1>




      <h3><%= @contact.job_title %> </h3>
      <h4>
      <%= @contact.company_name %>

<script type="text/javascript">
var name="<%= @contact.company_name %>";

if (name==""){}
  else
{
document.write("<a href=\"https://www.google.co.uk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=<%= @contact.company_name %>\"><img src=\"..\/search1.png\" alt=\"\" style=\"width:25px;height:25px\"><\/a>");
}
  </script>

      </h4>
      <div class="row">
        <div class="col-md-12   text-left">
          
          <p>
          <strong><i class="fa fa-phone"> </i>       <a href="callto:<%= @contact.telephone %>"><%= @contact.telephone %></a>
          </strong>
          </p>
          <p>
          <strong><i class="fa fa-envelope-o"> </i>       <a href="mailto:<%= @contact.email %>"> <%= @contact.email %></a>
          </strong>
          </p>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-left">
      <br>
      
      <h5>Recent Activity</h5>
      <% @contact.activities.order("updated_at DESC").first(2).each do |activity| %>
      <div class="well">
        <b><%= activity.activity_type %></b>
        <td><%= activity.description %></td>
        <br><br>
        <i><%= activity.updated_at.strftime("%B %d") %></i>
      </div >
      <% end %>
      
      <%= form_for [@contact, @activity] do |f| %>
      <% if @activity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
        <ul>
          <% @activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <a href="#">See the rest of the activities</a>

      


      <br>
      <div class="field">
        <%= f.text_area :description, :class => "form-control", :placeholder => "Record activity...", :style => "height:100px;" %>
      </div>
      <div class="field">
        <label>Choose the type of activity</label>
        <%= f.select :activity_type, "<option>Call</option><option>Email</option><option>Meeting</option><option>Website Visit</option>".html_safe, {},  {:class => "form-control" }%>
      </div>
      <br>
      <div class="field" style="display:none">
        <%= f.label :contact_id %><br>
        <%= f.number_field :contact_id, value: @contact.id %>
      </div>
      
      <%= f.submit "Add Activity", {:class => "btn btn-info"} %>
      
      <% end %>
      
      <% @months = []%>
      <% @monthly_activities = @contact.activities.group_by { |t| t.updated_at.month }%>
      <% @monthly_activities.each do |month, activity| %>
      <% @monthly_activities[month].map do |activity|%>
      <% @months << {month => activity}%>
      <%end%>
      <%end%>
      <%@november =  @months.map {|h| h[11]}.uniq%>
      <hr>
      <div class="colorful" style="background-color:#999;  padding-top:100px; border-radius:4px; color: #fff; margin-right:20px;">

        <div class="row text-center">
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>

          <div class="col-md-2"></div>
          <div class="col-md-2"></div>

          <div class="col-md-2" style="margin-left:-120px;">
            <%  @november.sort_by {|activity| activity[:updated_at]}.each do |activity|%>


            <p class="btn btn-default" title="<%= activity.description %>" rel="tooltip">

            <%= activity.updated_at.day %>th 

            </p>
         
            <%end%>
          </div>
        </div>

        <div class="row text-center" style="position:absolute; bottom:0px; text-align:center; margin-left:10px;">
          <div class="col-md-2">
            <b> <%= Date::MONTHNAMES[Date.today.month - 5][0..2] %></b>
          </div>
          <div class="col-md-2">
            <b> <%= Date::MONTHNAMES[Date.today.month - 4][0..2] %></b>
          </div>
          <div class="col-md-2"><b> <%= Date::MONTHNAMES[Date.today.month - 3][0..2] %></b></div>
          <div class="col-md-2"><b> <%= Date::MONTHNAMES[Date.today.month - 2][0..2] %></b></div>
          <div class="col-md-2"><b> <%= Date::MONTHNAMES[Date.today.month - 1][0..2] %></b></div>
          <div class="col-md-2">
            <b> <%= Date::MONTHNAMES[Date.today.month][0..2] %></b>
          </div>
        </div>

        <br>
      </div>

    </div>
    </div>
    <br>
    </div>