<div class="container">
  <div class="row" style="margin-top:10px;">
    <div class="col-md-6 text-left">
      <%= link_to 'Back to Contacts', contacts_path, :class => "btn btn-default btn-green" %>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to 'Edit', edit_contact_path(@contact), :class => "btn btn-default btn-green" %>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="http://lorempixel.com/160/160/people/" class="img-circle img-responsive img-thumbnail">
      <h3 style="font-style:italic;">
        <%= @contact.first_name %> <%= @contact.last_name %>

      </h3>




    <h5><%= @contact.job_title %> | <%= @contact.company_name %>
    <a href="https://www.google.co.uk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=<%= @contact.company_name %>">  <i class="fa fa-search"> </i> 
    </a>
    </h5>
    
      <div class="row">
        <div class="col-md-12   text-center">

          <p>
            <strong>     <a href="callto:<%= @contact.telephone %>"><%= @contact.telephone %></a>
            |     <a href="mailto:<%= @contact.email %>"> <%= @contact.email %></a>
            </strong>
          </p>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-left">
     
      <span class="pull-right our-green"> 
  
<a target="_blank" href="https://www.facebook.com/search/results/?init=quick&q=<%= @contact.first_name %>%20<%= @contact.last_name %>">
      <i class="fa fa-2x fa-facebook-square"> </i>
</a>

      <a target="_blank" href="https://www.facebook.com/search/results/?init=quick&q=<%= @contact.first_name %>%20<%= @contact.last_name %>"> <a target="_blank" href="https://twitter.com/search?q=<%= @contact.first_name %>%20<%= @contact.last_name %>&src=typd&mode=users"> <i class="fa fa-2x fa-twitter-square"> </i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/vsearch/p?firstName=<%= @contact.first_name %>&lastName=<%= @contact.last_name %>&orig=SEO_SN&trk=SEO_SN&domainCountryName=&csrfToken=ajax%3A2771908671720635977"> <i class="fa fa-2x fa-linkedin-square"> </i>
      </a>
    </a>

</span>
      <h5>Recent Activity</h5>

       <br>
      <% @contact.activities.order("updated_at DESC").first(2).each do |activity| %>
      <div class="well" style="margin-top:-13px;">
<div class="row">

</div>
<a href="<%= @contact.id %>/activities/<%= activity.id %>/edit"><i class="fa fa-times pull-right our-green-a opacity50"></i>
</a>
 
<a href="<%= @contact.id %>/activities/<%= activity.id %>/edit"><i class="fa fa-pencil pull-right our-green-a opacity50"></i> 
</a>


        <i><%= activity.activity_type %> - </i>
        <td><%= activity.description %></td>
        <br><br>
        <i class="our-green-a"><%= activity.updated_at.strftime("%B %d") %></i>
      </div >
      
      <% end %>
<div class="row">
<div class="col-md-12" style="margin-top:-20px; margin-left:10px;" >
            <a href="<%= @contact.id %>/activities" >Show more</a>
            </div>
</div>
     
<%= render "contacts/add_activity_form" %>


      <br>
      
      <%= render "contacts/activity_feed" %>
      
    </div>
  </div>
  <br>
</div>
